* {
    box-sizing: border-box;
}

/****** stying for fonts faces, sizes, decorations, colors ******/
h2, h3{
    font-family: 'Open Sans', serif;
    font-weight: 700;
    color: #424243;
}

h2{
    font-size: 3em;
}

section h2, section h3{
    text-align: center;
    font-weight: 900;
}

h3{
    font-size: 2em;
}

p, main a, button{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

nav{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

p {
    color: #424243;
}

footer p{
    font-size: 15px;
    color: white;
    padding: 22px 0px 0px 20px;
}

#about p, #contact p{
    padding: 0px 0.5em;
    line-height: 1.5;
}

main a {
    color: #014082;
    font-weight: bolder;
}

main a:hover{
    color: #254f4a;
    transition: 0.5s;
}

nav a{
    text-transform: uppercase;
}

b{
    color: #014082;
}

nav a{
    color: #ffffff;
    text-decoration: none;
}

.display-menu li {
    padding: 10px 0px;
    list-style-type: none;
}

i {
    color: #014082;
}

/**** initial header styling ****/
#head{
    background-color: #001F3F;     /*zeroing out the default margins with top/etc causes the nav bar to jump*/
    margin: 0;
    padding: 0;
    /*but there was still whitespace even when using the above to remove it so needed to add these two*/
    top: 0;
    left: 0;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 0.5;
}

#head h2, #head p, button{
    color: #eee;
    margin-left: 50px;
}

#head h2 {
    margin-top: 250px;
}

#head h2, #head p{
    margin-right: 50px 
}

button{
    background-color: #001F3F;
    border: 1px solid #eee;
    padding: 0.5em 1.5em;
    margin-top: 10px;
    max-width: 150px;
}

button:hover{
    cursor: pointer;
    color: darkgrey;
    border: 1px solid darkgrey;
    transition: 0.5s;
}

#nav-buttons{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

/*** footer styling***/
footer{
    background-color: #001F3F;
    color: white;
    padding-bottom: 10px;
}

/*** nav bar styling  ***/
nav{
    background-color: #001F3F;
    width: 100%;
    /*zeroing out the default margins with top/etc causes the nav bar to jump*/
    margin: 0;
    padding: 0;
    /*but there was still whitespace even when using the above to remove it so needed to add these two*/
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100px;
}

/*hamburger icon container styles */
nav i{
    padding: 32px 0px 0px 12px;
    display: block;
    color: #ffffff;
}

nav i:hover{
    cursor: pointer;
    transition: 0.5s;
}

/*hide menu items by default for mobile*/
ul, nav{
    display: none;
}

/*unless this class is turned on in the js file*/
.display-menu{
    display: block;
    background-color: #001F3F;
    margin-top: 1px;
    padding: 15px 0px 15px 15px;
}

main{
    padding: 740px 0px 0px 0px; /**different browsers display the top height differently....**/
    margin: 0;
}

body{
    margin: 0px;
}

/***** styling for elements that need to be centered *****/
img{
    margin-left: auto;
    margin-right: auto;
}

/***** styling for projects display *****/
#projects-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects-grid img{
    width: 100%;
    height: 100%;
    display: block;
    padding-bottom: 10px;
}

/*according to stack overflow there's a bug with safari with flex elements getting stretched*/
.thumbnail{
    display: flex;
    justify-content: center;
}

.thumbnail img{
    max-width: 20%; /*need to update depending on how many thumbnails there are*/
    opacity: 0.6;
}

.thumbnail img:hover{
    cursor: pointer;
    opacity: 1;
    transition: 0.5s;
}

img.active-thumbnail{
    opacity: 1;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    padding: 0px 3px;
}

/***** padding on mobile ****/
#projects, #resume{
    padding: 0em 2em;
}

/**** more padding for the text sections ****/
#about{
    padding: 0em 2em 2em 2em;
}

#skills{
    margin-bottom: 50px;
}

.icons{
    display: flex;
    justify-content: center;
}

.icons i{
    padding: 10px;
}

/*** alternate colors ***/
#contact{
    background-color: #eee;
    padding: 2em 2em;
}

@media only screen and (min-width: 800px){

    #nav-buttons{
        flex-direction: row;
    }

    nav ul{
        text-align: center;
        padding: 22px 30px 0px 0px;
        display: block;
    }
    
    /*display menu items horizontally rather than verically for desktop to better use room*/
    nav li{
        display: inline-block;
        padding: 0px 10px;
    }
    
    /*user will only be hovering/seeing active page with mouse aka larger screen*/
    nav li.active-page{
        border-bottom: 2px solid #eee;
        padding-bottom: 5px;
        margin-bottom: -5px; /*make projects jump down less when clicked*/
    }
    
    nav a:hover{
        color: #eee;
        transition: 0.5s;
    }

    /*for some reason, hiding the icon doesn't work on its own*/
    .display-icon{
        display: none;
    }

    /*** add padding for each section ***/
    #about p{
        padding: 0em 5em;
    }

    #projects{
        padding: 0em 3em;
    }

    #about{
        padding: 0em 3em;
        margin: 0;
    }

    #contact{
        padding: 1em 5em;
    }

    #projects-grid{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }  

    .project{
        flex-basis: 100%;
        max-width: 38%;
    }
}