* {
    box-sizing: border-box;
}

/****** stying for fonts faces, sizes, decorations, colors ******/

h2, h3{
    font-family: 'Bree Serif', serif;
    letter-spacing: 2px;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 32px;
}

p, main a, nav{
    font-family: 'Open Sans', sans-serif;
}

p, main a, .display-menu li {
    font-size: 20px;
}

b, a {
    color: #3a7a73;
    font-weight: bolder;
}

a:hover{
    color: #254f4a;
    transition: 0.5s;
}

h2, h3, nav a{
    text-transform: uppercase;
}

/*hide menu items by default*/
ul{
    display: none;
}

/*unless this class is turned on in the js file*/
.display-menu{
    display: block;
    background-color: #9ed0c9;
    margin-top: 1px;
    padding-bottom: 2px;
}

nav a{
    color: black;
    text-decoration: none;
}

.display-menu li {
    padding: 3px 0px;
    list-style-type: none;
}

.display-icon{
    display: block;
}

nav i{
    padding: 13px 0px 0px 12px;
}

nav i:hover{
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

/***** nav bar styling *****/ 
nav{
    background-color: #9ed0c9;
     /*zeroing out the default margins with top/etc causes the nav bar to jump*/
    margin: 0;
    padding: 0;
    /*but there was still whitespace even when using the above to remove it so needed to add these two*/
    top: 0;
    left: 0;
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 1;
}

main {
    margin-top: 20px;
    position: absolute;
    padding: 0em 1.3em 0em 0.8em;
}

/***** styling for elements that need to be centered *****/
h2, #projects-grid h3{
    text-align: center; 
} 

img{
    margin-left: auto;
    margin-right: auto;
}

/***** styling for projects display *****/
#projects-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects-grid img{
    width: 100%;
    height: 100%;
    display: block;
    padding-bottom: 10px;
}

/*according to stack overflow there's a bug with safari with flex elements getting stretched*/
.thumbnail{
    display: flex;
    justify-content: center;
}

.thumbnail img{
    max-width: 25%; /*need to update depending on how many thumbnails there are*/
    opacity: 0.6;
}

.thumbnail img:hover{
    cursor: pointer;
    opacity: 1;
    transition: 0.5s;
}

img.active-thumbnail{
    opacity: 1;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    padding: 0px 3px;
}

#contact-grid{
    width: 90%;
    margin: 0px auto;
}

.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (min-width: 800px){
    nav ul{
        float: right;
        padding: 8px 20px 0px 0px;
        display: block;
    }
    
    /*display list items horizontally rather than verically for desktop to better use room*/
    nav li{
        display: inline-block;
        padding: 0px 10px;
    }

    /*user will only be hovering/seeing active page with mouse aka larger screen*/
    nav li.active-page{
        border-bottom: 2px solid #eee;
        padding-bottom: 5px;
        margin-bottom: -5px; /*make projects jump down less when clicked*/
    }
    
    nav a:hover{
        color: #eee;
        transition: 0.5s;
    }

    /*for some reason, hiding the icon doesn't work on its own*/
    .display-icon{
        display: none;
    }

    #projects-grid{
        flex-direction: row;
        justify-content: space-around;
    }  

    .project{
        flex-basis: 100%;
        max-width: 46%;
    }
    #contact-grid{
        width: 50%;
    }
    main {
        padding: 0em 1.5em 0em 1.5em;
    }
}