* {
    box-sizing: border-box;
}

h2, h3{
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2{
    font-size: 48px;
    text-decoration: underline;
    text-align: center;
    text-decoration-color: #428e84;
}

.projects-grid h3{
    text-align: center;
}

h3{
    font-size: 32px;
}

p, main a, nav{
    font-family: 'Open Sans', sans-serif;
}

nav{
    background-color: #9ed0c9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 10;
    height: 60px;
}

nav ul{
    float: right;
    padding-right: 20px;
}

nav ul > li {
    display: inline-block;
    padding: 0px 10px;
    vertical-align: bottom;    
}

nav a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover{
    color: #eee;
    transition: 0.5s;
}

p, main a {
    text-align: center;
    font-size: 20px;
}

b, a {
    color: #6bada4;
    font-weight: bolder;
}

a:hover{
    color: #428e84;
    transition: 0.5s;
}

main {
    margin-top: 80px;
}

.projects-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-grid img{
    width: 100%;
    display: block;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

/*according to stack overflow there's a bug with safari with flex elements getting stretched*/
.row{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.row img{
    max-width: 30%;
}

.technologies-icons{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.technologies-icons i{
    padding: 0px 5px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    padding: 0px 3px;
}

.contact-grid { 
    margin-bottom: 10px;
}

.contact i {
    float: left;
    padding-right: 15px;
}

@media only screen and (min-width: 800px){
    .projects-grid {
        flex-direction: row;
        justify-content: space-around;
    }    
    .project {
        flex-basis: 100%;
        max-width: 50%;
    }
}
